<!DOCTYPE html>
<html>
 <%- include('../template/header'); %>
 
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <%- include('../template/top_menu'); %>
        <%- include('../template/left_nav'); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Dashboard <small>Change Password</small></h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Change Password</li>
                </ol>
                <% if(message.length > 0){ %>
                <div class="pull-left label label-success" style="margin-top: 2px; margin-left: 200px;font-size: 14px;">
                    <%= message %>
                </div>
                <% } %>
            </section>


            <!-- Main content -->
            <section class="content" style="margin-top:20px;">
                <div class="row">
                    <!-- <div class="col-xs-3">
                    </div> -->
                    <!-- /.col -->
                    <div class="col-xs-12">
                      <div class="box">
                        <div class="box-header" style="margin-top: 0px;padding-left: 6px;">
                          <h3 class="box-title">Change Password</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                           <form class="form-horizontal" action="/change-password/" method="post" id="change_password_add" name="change_password_add" >
                            <div class="box-body" style="margin-left: 20px;margin-right: 20px;">
                              <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Old Password</label>
                                <div class="col-sm-10" >
                                  <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Enter Old Password">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">New Password</label>
                                <div class="col-sm-10" >
                                   <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="name"  class="col-sm-2 control-label">Confirm Password</label>
                                <div class="col-sm-10" >
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter Confirm Password">
                                </div>
                              </div>
                             
                             
                            </div>
                            <!-- /.box-body -->
            
                            <div class="box-footer" style="margin-bottom: 20px;padding-left: 15px;">
                              <button type="submit" class="btn btn-primary pull-right" name="submit" id="submit" value="submit">Submit</button>
                            </div>
                          </form>
                        </div>
                        <!-- /.box-body -->
                      </div>
                      
                    </div>
                    <!-- /.col -->
                    <!-- <div class="col-xs-3">
                    </div> -->
                    <!-- /.col -->
                  </div>
            </section>
            <!-- /.content -->

        </div>
       
    </div>
    <!-- ./wrapper -->
    <%- include('../template/footer'); %>
    <style type="text/css">
        .customerror{
            color: red;
        }
    </style>
    <script type="text/javascript">
                $("#change_password_add").validate({
                             errorElement: 'span',
                            errorClass: 'customerror',
                           rules: {
                              
                               old_password: {
                                   required: true
                               },
                               new_password:{
                                required:true,
                                minlength:8
                               },
                               confirm_password: {
                                   required: true,
                                   minlength:8,
                                   equalTo: "#new_password"
                               }
                           },
                           messages: {
                           
                            old_password: {
                               required: "Please enter old password!"
                           },
                           new_password: {
                               required: "Please enter new password!",
                               minlength:"Please enter minimum 8 characters!"
                           },confirm_password: {
                               required: "Please enter confirm password!",
                               minlength:"Please enter minimum 8 characters!",
                               equalTo:"Password and confirm password does not match!"
                           }
    
                           }
                       });
            </script>
</body>

</html>