<!DOCTYPE html>
<html>
 <%- include('../template/header'); %>
<style>
/* Styling the .validate error message. */
label.error {
    color: red;
    /* color: #a94442; */
    /* background-color: #f2dede;
    border-color: #ebccd1;
    padding: 1px 20px 1px 20px; */
}

.banner_success p {
    background-color: #00a65a !important;
    font-size: 14px;
    padding: 6px 0;
}

.banner_success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: unset !important;
}
</style>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <%- include('../template/top_menu'); %>
        <%- include('../template/left_nav'); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Footer management</h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Footer Management</li>
                </ol>
                <% if(message.length > 0){ %>
                <div class="pull-left label label-success" style="margin-top: 2px; margin-left: 200px;font-size: 14px;">
                    <%= message %>
                </div>
                <% } %>
            </section>


            <!-- Main content -->
            <section class="content" style="margin-top:20px;">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Footer</h3>
                    </div>
                    
                    <!-- form start -->
                    <form class="form-horizontal" action="/footer/" id="footerForm"  method="post" >
                        <div class="box-body">
                            
                
                            <div class="row">
                            <div class="col-sm-6">    
                            <div class="form-group">
                                <label for="category_name" class="col-sm-3 control-label">Facebook : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="f_link" name="f_link" placeholder="Enter link" value="<%= fb_dtl.link %>" >
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="f_priority" placeholder="Enter Sequence" value="<%= fb_dtl.priority %>" >
                                </div>
                            </div>
                            </div> 
                            </div>
                           
                            <div class="row">
                            <div class="col-sm-6">    
                            <div class="form-group">
                                <label for="category_name" class="col-sm-3 control-label">Instagram : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="insta_link" name="insta_link" placeholder="Enter link" value="<%= insta_dtl.link %>" >
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="i_priority" placeholder="Enter Sequence" value="<%= insta_dtl.priority %>">
                                </div>
                            </div>
                            </div> 
                            </div>

                            <div class="row">
                            <div class="col-sm-6">    
                            <div class="form-group">
                                <label for="category_name" class="col-sm-3 control-label">Linkedin : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="l_link" name="l_link" placeholder="Enter link" value="<%= lin_dtl.link %>" >
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="l_priority" placeholder="Enter Sequence" value="<%= lin_dtl.priority %>">
                                </div>
                            </div>
                            </div> 
                            </div>

                            <div class="row">
                            <div class="col-sm-6">    
                            <div class="form-group">
                                <label for="category_name" class="col-sm-3 control-label">Twitter : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="t_link" name="t_link" placeholder="Enter link" value="<%= twit_dtl.link %>" >
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="t_priority" placeholder="Enter Sequence" value="<%= twit_dtl.priority %>">
                                </div>
                            </div>
                            </div> 
                            </div>

                            <div class="row">
                            <div class="col-sm-6">    
                            <div class="form-group">
                                <label for="category_name" class="col-sm-3 control-label">Github : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="g_link" name="g_link" placeholder="Enter link" value="<%= git_dtl.link %>" >
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="g_priority" placeholder="Enter Sequence" value="<%= git_dtl.priority %>">
                                </div>
                            </div>
                            </div> 
                            </div>

                            <div class="row">
                            <div class="col-sm-6">    
                            <div class="form-group">
                                <label for="category_name" class="col-sm-3 control-label">Dribbble : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="d_link" name="d_link" placeholder="Enter link" value="<%= dri_dtl.link %>" >
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="d_priority" placeholder="Enter Sequence" value="<%= dri_dtl.priority %>">
                                </div>
                            </div>
                            </div> 
                            </div>

                            <div class="row">
                                <div class="col-sm-6">    
                                <div class="form-group">
                                    <label for="category_name" class="col-sm-3 control-label">Behance : </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="b_link" name="b_link" placeholder="Enter link" value="<%= beh_dtl.link %>" >
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="category_name" class="col-sm-2 control-label">Sequence: </label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="b_priority" placeholder="Enter Sequence" value="<%= beh_dtl.priority %>">
                                    </div>
                                </div>
                                </div> 
                                </div>

                            <div class="row">
                            <div class="col-sm-12"> 
                            <div class="form-group">
                                <label for="category_name" class="col-sm-2 control-label">Footer Text: </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="footerText"
                                        placeholder="Enter footer text" value="<%= footer_text.footer_text %>" required>      
                                </div>
                            </div>
                            </div>
                            </div>
                            
                    

                       
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn  pull-right" name="submit" id="submit"
                                value="submit" style="background-color: #463077;color: white; outline:none;">UPDATE</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->

        </div>
       
    </div>
    <!-- ./wrapper -->
    <%- include('../template/footer'); %>

    <style type="text/css">
        .customerror{
            color: red;
        }
    </style>
    <script type="text/javascript">
    $("#footerForm").validate({
                    errorElement: 'span',
                errorClass: 'customerror',
                rules: {
                    
                    f_link: {
                        url: true
                    },
                    insta_link: {
                        url: true
                    },
                    l_link: {
                        url: true
                    },
                    t_link: {
                        url: true
                    },
                    g_link: {
                        url: true
                    },
                    d_link: {
                        url: true
                    },
                    b_link: {
                        url: true
                    }
                    
                },
                messages: {
                
                f_link: {
                    url: "Please enter a valied Link"
                },
                insta_link: {
                    url: "Please enter a valied Link"
                    },
                l_link: {
                url: "Please enter a valied Link"
                },    
                t_link: {
                url: "Please enter a valied Link"
                },
                g_link: {
                url: "Please enter a valied Link"
                },
                d_link: {
                url: "Please enter a valied Link"
                },
                b_link: {
                url: "Please enter a valied Link"
                }

                }
            });
</script>
</body>

</html>